<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHOP</title>
</head>
<body>

    <nav>
        <a href="#">SHOP</a>
        <button type="button" aria-label="Toggle navigation">
            <span aria-hidden="true">&#9776;</span>
        </button>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>
